<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Music home </title>
    <link rel="stylesheet" href="style_personal_account.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo"><a href="#">MUSIC></a></div>
      <ul class="menu">
        <li><a href="/home">Главная</a></li>
        <li><a href="#">Личный кабинет</a></li>
      </ul>
      <div class="buttons">
        <input type="button" value="Выйти">
      </div>
    </nav>
    <div class="text-content">
      <h2>Добро пожаловать в личный кабинет, User,<br>Мы рады знакомству</h2>
      <p>Здесь можно найти историю преобразований или выйти из системы</p>
    </div>
    <form>
        <label class="text-content" for="history_of_operations">История запросов</label>
        <select class="body" id="history_of_operations" name="history_of_operations">
            <option value="screen_saver">Выберите вариант</option>
            <option value="first_file">1</option>
            <option value="second_file">2</option>
            <option value="third_file">3</option>
        </select>
    </form>
    <div class="play-button">
      <span class="play">Запустить музыку</span>
      <i class="fas fa-play" onclick="click()"></i>
    </div>
  </header>
</body>
</html>
