<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> Music home </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/personal_account.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo"><a href="#">MUSIC></a></div>
            <ul class="menu">
                <li><a href="/">Главная</a></li>
                <li><a href="#"><b>Личный кабинет</b></a></li>
            </ul>
            <div class="buttons">
                <input type="button" onclick="logout()" value="Выйти">
                <script>
                function logout() {
                    function deleteAllCookies() {
                        document.cookie.split(';').forEach(cookie => {
                            const eqPos = cookie.indexOf('=');
                            const name = eqPos > -1 ? cookie.substring(0, eqPos) : cookie;
                            document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:00 GMT';
                        });
                    }
                    deleteAllCookies();
                    window.location.href = "/";
                }
                </script>
            </div>
        </nav>
        <div class="container">
          <div class="text-content">
            <h2>Добро пожаловать в личный кабинет, {{ user }},<br>Мы рады знакомству</h2>
            <p>Здесь можно найти историю преобразований или выйти из системы</p>
          </div>
          <div>
              <h2 class="text-content2">История</h2>
                {% for i in list %}
                    <li><a href="{{ file }}">{{ name-file }}</a>{{% i %}}</li>
                    {% endfor %}
            </div>
        </div>
        <div class="play-button">
            <span class="play">Запустить музыку</span>
            <audio id="sound" class="play"><source src="water_ocean_waves_shore_calm_002.mp3" type="audio/mp3"></audio>
            <i class="fas fa-play" onclick="sound.play()"></i>
        </div>
    </header>
</body>
</html>
